
.featured-collections-wrapper {
  padding-top: $padding-m;

  .featured-collection-list {

    .featured-collection {
      border: 1px solid $primary-off-white;
      margin: 0px 0px 20px 0px;
      padding: 20px;

      em {
          @include small-label;
          margin-bottom: $padding-s;
      }

      &:hover {
        box-shadow: 2px 2px $padding-xs $primary-off-white;
      }

      h3 {
        font-size: 20px;
        font-weight: bold;
        margin-bottom: 15px;
      }

      p {

      }
    }

  }
}
