// Collection Header 
.collectionTitle {
  background-color: navy;
  color: white;
  display: flex;
  justify-content: space-between;
  padding: 10px;
  
  // Collection Title for CollectionHome
  h1 {
    padding: 5px;
    font-weight: 600;
  }
  
  // Collection Title for CollectionShow 
  .collectionInformation {
    h2 {
      font-size: 26px;
      font-weight: 500;
    }
    h3 {
      font-size: 12px;
      font-weight: 400;
    }
  }
  
  // buttons in CollectionSHow
  .buttons {
    display: flex;
    Button {
      margin-left: 10px;
    }
  }
}

// Featured Collection Contents 
.featuredCollection {
  padding: 50px;
  background-color:rgb(86, 86, 184);
}

// All sources to the collection 
.collectionSources {
  padding-top: 50px;
  padding: 50px;
  background-color: rgb(235, 166, 102);

  // information for the collections' sources 
  .collectionSourcesInformation {
    color: black;
    justify-content: space-between;
    margin-left: 50px;
    font-weight: 550;
  }
}
