// Modify Collection

.modifyHeader {
  background-color: navy;
  color: white;
  display: flex;
  padding: $padding-s;
  justify-content: space-between;

  // Collection Title for CollectionHome
  h1 {
    padding: $padding-s;
    font-weight: 400;
    font-size: 20px;
  }
}

.modifyCollectionContent {
  background-color: orange;
  padding: $padding-m;

  h2 {
    padding: $padding-s;
    font-weight: 600;
    color: white;
  }
  li {
    padding: $padding-s;
    background-color: white;

    h5 {
      padding: $padding-s;
      font-weight: 600;
    }
  }
}
