$primary-white:#fff;
$primary-off-white:#e5e5e5;
$primary-red:#d24527;
$primary-black:#2f2d2b;

$heading-font-families: 'PT Serif', serif;
$body-font-families: 'Lato', 'Helvetica', sans;

$padding-l: 50px;
$padding-m: 30px;
$padding-s: 10px;
$padding-xs: 5px;
