$primary-white:#fff;
$primary-off-white:#e5e5e5;
$primary-red:#d24527;
$primary-black:#2f2d2b;
$heading-font: 'Lato', 'Helvetica', sans;
$content-font:'Inter',sans-serif;
$footer-height: 65px;
$font-families: 'Lato', 'Helvetica', sans;
