django==4.2.*
djangorestframework==3.17.*
psycopg2-binary==2.9.*
djangorestframework-simplejwt[crypto]==5.5.*
pyhumps==3.8.*
django-environ==0.14.*
django-constance[redis]==4.1.*
django-ratelimit==4.1.*
dj-database-url==3.1.*
mediacloud-metadata==1.4.*
django-redis==6.0.*
gunicorn==26.*
whitenoise==6.12.*
sentry-sdk==1.39.*
requests  # let the other dependencies sort out which is the right version
mc-providers @ git+https://github.com/mediacloud/mc-providers@v5.0.latest
pycountry==24.6.*
django-background-tasks==1.2.*  # django-background-tasks-updated deprecated now
django-cors-headers==4.3.*
django-guardian==3.0.*
feed-seeker==2.*
numpy
ruptures
sitemap-tools @ git+https://github.com/mediacloud/sitemap-tools@v5.0.latest
supervisor==4.3.*
statsd_client==1.0.*
python-dateutil==2.9.*  # indirect dependency (mc-providers and others) pinned here to avoid deprecation warning
