django==4.0.*
djangorestframework==3.13.*
django-rest-knox==4.2.*
psycopg2==2.9.*
djangorestframework-simplejwt[crypto]==5.2.*
pyhumps==3.7.*
django-environ==0.9.*
dj-database-url==1.0.*
mediacloud==3.13.*
python-dateutil==2.8.*
dateparser==1.1.*
pymemcache==3.5.*
django-redis==5.2.*
requests  # let the other dependencies sort out which is the right version
