li {
    border-style: solid;
    display: flex;
    margin: 5px
}


.source-collection-item {
    display: flex;
    justify-content: space-between;
    
    h5 {
        color: white;
        padding: 10px;
        font-weight: 500;
    }
}