
// Source Header 
.sourceHeader { 
  background-color: purple;
  color: white;
  display: flex; 
  justify-content: space-between;
  padding: 10px;
  
  // Title 
  h1 {
    font-size: 36px;
    padding: 5px;
    font-weight: 600;
  }
  
  // Modify Source and Associated Collections
  .buttons {
    display: flex;
  }
  
  Button {
    margin-left: 10px;
  }
}


.sourceList {
  padding: 70px;
  background-color:rgb(86, 86, 184);
}


.sourceInformation {
  padding: 30px;
  background-color:rgb(86, 86, 184);
   
  h1 {
    color: white;
    padding: 5px;
    font-weight: 500;
  }
}

// Collections assocaited Sources
.sourcesCollections {
  padding: 50px;
  background-color: orange;
  
  .sourceCollectionInformation {
    color: black;
    justify-content: space-between;
    padding: 10px;
    font-weight: 500;
  }
}

