li {
    border-style: solid;
    display: flex;
    margin: $padding-xs
}


.source-collection-item {
    display: flex;
    justify-content: space-between;
    
    h5 {
        color: white;
        padding: $padding-s;
        font-weight: 500;
    }
}