li {
    border-style: solid;
    display: flex;
    justify-content: space-between;
    margin: 5px
}

.source-link{
    display: flex;
    justify-content: space-between;
}

h6 {
    margin: 20px;
}