// .header {
//   text-align: center;
//   background: #1C769D;
//   color: white;
//   position: static;
// }

#header {
  background-color: $primary-red;
  padding: $padding-s 0px;

  img {
    margin-right: $padding-m;
  }

  a {
    color: #fff;
    text-decoration: none;

    button {
      color: #fff;
    }
  }

  ul {
    display: inline-block;
    padding: 0px;
    margin: 0px;

    li {
      border: none;
      display: inline-block;

      button {
        padding: $padding-s $padding-m;
        font-size: 14px;
        color: white;
        font-weight: bold;
      }

      a:hover {
        text-decoration: none;
      }

      a.active {
        button {
          border-bottom: 2px solid #ffffff;
        }
      }

    }
  }

  #menuButtonWrapper {
    margin-top: $padding-xs;
  }

}
