.featured-collections-picker-container{
    max-height: 100%;
    overflow-y: auto;
    h5 {
        color:black;
    }
}


.collection-picker-item:nth-child(even) {
    border: 1px solid gray;
    background-color: $primary-off-white;
}

.collection-picker-item:nth-child(odd) {
    border: 1px solid gray;
    background-color: rgba(128, 128, 128, 0.488);
}

.featured-collections-container {
    width: auto;
}
