.media-picker-container{
    background-color: white;
    // display: flex;
    // max-height: 100%;
    overflow-y: auto;
    // // height: auto;
    // border: 1px solid red;
    // overflow: auto;
}

.media-picker-tabs {
    display: flex;
    flex-direction: column;

    button {
        margin: 5px;
    }
}

.media-picker-tab {
    border-bottom: 1px solid gray;
    font-size: 1.35rem;
    font-family: $heading-font;
    margin: 1rem;
}