.services {
    background-color: white;
}

.platform-title {
    margin: .25rem;
    display: flex;
    justify-content: center;
    h1 {
            font-size: 1.5rem;
            padding-bottom: .5rem;
            font-family: $heading-font;
        }
}

.first-pick-title {
    font-size: 1.5rem;
    padding: .5rem;
}

.second-pick-services {
    margin: 1rem;
}