.simple-search-title {
    display: flex;

    h1 {
        font-size: 1.5rem;
        padding-bottom: .5rem;
        font-family: $heading-font;
    }
}

.select-any-all {
    display: flex;
}

.select-title {
    font-size: 1.5rem;
}

.simple-search-container {
    display: flex;
    margin: 1rem;
}

.negated-query-list {
    margin-top: 4rem;
    margin-left: 2rem;
}

.negations-title {
    font-size: 1.5rem;
}

.first-division {
    display: flex;
}

.services {
    display: flex;
}