.media-picker {

  .media-picker-container{
      background-color: white;
      // display: flex;
      // max-height: 100%;
      overflow-y: auto;
      // // height: auto;
      // border: 1px solid red;
      // overflow: auto;
  }

}

.media-picker-controls {
  margin-top: 20px;
  h3 {
    font-size: 18px;
    font-weight: bold;
  }
}
