
.query-inputs {
  display: flex;
  flex-direction: column;
  
}

.selected-media-title {
  display: flex;
  
  h3 {
    font-size: 1.5rem;
    padding-bottom: .5rem;
  }
}

.search-selected-media-container {
  padding-left: .6rem;
  margin-bottom: 1rem;
}

.total-attention {
  margin:.5rem;
  font-size: 1.5rem;
}

.search-container {
  padding: $padding-m 0px;
  
  code {
    font-size: 14px;
    font-family: sans-serif;
    background-color: $primary-off-white;
    color: $primary-black;
    padding: $padding-s;
    width: 100%;
    display: block;
  }
  
  .description {
    display: block;
    padding: $padding-xs 0px;
    
    .select-inline {
      margin: 0px $padding-xs;
    }
    
  }
  
  
  
.editInput {
  padding: 5px 10px;
  box-sizing: border-box;
  border: 2px solid #d24527;
  width: 150px;
  outline: none;
}

  
  p.help {
    margin-top: $padding-s;
    color: #9e9e9e;
    font-size: 12px;
    line-height: normal;
  }
  
  .date-accuracy-alert {
    
    .enable-alert {
      font-size: 12px;
      margin-left: 55%;
      font-weight: 500;
      color: $primary-red;
    }
    
    .disable-alert {
      font-size: 12px;
      margin-left: 55%;
      opacity: 0;
    }
    
  }
  
  .query-section {
    margin-bottom: $padding-m;
    h3 {
      font-family: $body-font-families;  // Too close to other text to use header font
      height: $padding-m;
      margin: 0px 0px 8px 0px;
      padding: 0px;
      font-weight: 700;
      font-size: 18px;
      
      &.inline {
        display: inline-block;
      }
      
      em {
        background-color: $primary-red;
        border-radius: 50%;
        color: #fff;
        display: inline-block;
        font-size: 12px;
        margin-right: $padding-xs;
        padding: $padding-xs;
        text-align: center;
        vertical-align: top;
        width: 25px;
        font-style: normal;
        font-weight: bold;
      }
      
    }
    
  }
  
  .search-button-wrapper {
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
    padding: 15px 0px;
    display: flex;
    justify-content: space-between;
  }

  .start-buttons {
    display: flex;
    margin-left: 40px;
    div {
      padding-right: 10px ;
    }
  }

  .end-buttons {
    display: flex;
    margin-right: 30px;
  }

  div {
    padding-left: 10px ;
  }
  
}
