<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link rel="icon" href="../../static/img/favicon.ico"> 
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=PT+Serif:400,400italic,700,700italic%7CRoboto:100,100italic,300,300italic,regular,italic,500,500italic,700,700italic,900,900italic%7CInter:300,regular,500,600,700,800,900%7CSpace+Grotesk:regular,500,600" media="all">
        <title>Media Cloud</title>
        <script id="version">
            
            window.sentry_config = {{ sentry_config|safe }}

            document.settings = {};
            document.settings.appVersion = "{{ version }}";
            document.settings.availableProviders = {{ providers|safe }};
            {% if system_alert != None %}
                document.settings.systemAlert = "{{ system_alert|safe }}";
            {% else %}
                document.settings.systemAlert = undefined;
            {% endif %}
            document.settings.earliestAvailableDate = "{{earliest_available_date|safe}}";
            document.settings.allUrlsCsvEmailMax = {{all_urls_csv_email_max|safe}};
            document.settings.allUrlsCsvEmailMin = {{all_urls_csv_email_min|safe}};
        </script>

    </head>

    <body>

        <div id="app"></div>

        {% load static %}

        <script src="{% static "frontend/main.js" %}"></script>

        {% if analytics_matomo_domain and analytics_matomo_id %}
            <script>
              var _paq = window._paq = window._paq || [];
              /* tracker methods like "setCustomDimension" should be called before "trackPageView" */
              _paq.push(['trackPageView']);
              _paq.push(['enableLinkTracking']);
              (function() {
                var u="{{ analytics_matomo_domain }}";
                _paq.push(['setTrackerUrl', u+'matomo.php']);
                _paq.push(['setSiteId', {{ analytics_matomo_id }}]);
                var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
                g.async=true; g.src=u+'matomo.js'; s.parentNode.insertBefore(g,s);
              })();
            </script>
        {%  endif %}
    </body>

</html>
