.sample-story-item {
    display: flex;
    justify-content: space-between;
}

.sample-title {
    display: flex;
    justify-content: space-between;
}

.sample-container {
    display: flex;
    flex-direction: column;
}

.sample-story:nth-child(even) {
    background-color: rgb(202, 201, 201);
    border-color: $primary-black;
}
.sample-story:nth-child(odd) {
    background-color: $primary-off-white;
    border-color: gray;
}
