.sample-story-item {
    display: flex;
    justify-content: space-between;
}

.sample-title {
    display: flex;
    justify-content: space-between;
}

.sample-container {
    display: flex;
    flex-direction: column;
}

.sample-story:nth-child(odd) {
    background-color: #2f2d2b15;
    border-color: $primary-black;
}
.sample-story:nth-child(even) {
    background-color: $primary-off-white;
    border-color: #dec6bd23;
}
