{% autoescape off %}

<div class="pre"><strong>Alert System</strong>&nbsp;</div>
    <div class="pre">&nbsp;</div>
     
            <div class="pre">
                Alerted Sources with Low Volume 
                {% for source in alert_list.low %}
                    <div style="background-color: red">
                        {{source}}
                    </div>
                {% endfor %}
            </div>
            <div>
                Alerted Sources with High Volume
                {% for source in alert_list.high %}
                    <div style="background-color: yellow">
                        {{source}}
                    </div>
                {% endfor %}
            </div>
    <div>

    </div>

    Sources that alerted last week and not this week:
    {% for source in alert_list.fixed %}
        <div style="background-color: green">
            {{source}}
        </div>
    {% endfor %}
</div>
{% endautoescape %}